*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.row{
    height:200px;
    background-color: rgb(255,192,203);
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

[class*="col-"]{
    border: 1px solid black;
    height: 100%;
    text-align: center;
    line-height: 200px;
    padding: 5px;

}

.nested{
    border-color: white;
    background-color: rgb(240,128,128);
}