*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mario-draghi{
    position: relative;
    height: 900px;
    background-image: url(../img/mario-draghi.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.container{
    position: absolute;
    top: 50%;
    right: 5%;    
    width: 360px;    

}


.row{
    height: 10px;

}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.black{
    background-color: black;
}

.green{
    background-color: green;
}

.pink{
    background-color: pink;
}
.white{
    background-color: white;
}
.brown{
    background-color: brown;
}