*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Mario Draghi*/
.sfondo{
    background-image: url(../img/mario-draghi.jpeg);
    background-repeat: no-repeat;
    height: 810px;
    padding-left: 850px; 
    padding-top: 380px;
}

/* Baby Yoda */
.container{
    width: 360px;    
}

.row{
    height: 10px;

}

.row::after{
    content: "";
    display: table;
    clear: both;
}

/* colori Baby Yoda */
.black{
    background-color: black;
}

.green{
    background-color: green;
}

.pink{
    background-color: pink;
}

.white{
    background-color: white;
}

.brown{
    background-color: brown;
}